
:root{
  --mostaza: #8E7B38;
  --rojo: #B22222;
  --black: #000000;
  --hueso:  #F0EAD6;
  --creem: #FAF3E0;
  --oldGold: #C19A6B;
  --darkGray:#4B4B4B;
}

/*FONTS*/
.lato-light {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}
