:root{
  --mostaza: #8E7B38;
  --rojo: #B22222;
  --black: #000000;
  --hueso:  #F0EAD6;
  --creem: #FAF3E0;
  --oldGold: #C19A6B;
  --darkGray:#4B4B4B;
  --small :0.75 rem;
  --medium: 1 rem;
  --large:1.25 rem

}

/*FONTS*/
.lato-light {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}
body{
  margin: 0;
}
.login{
  height: 100%;
  width:  100%;
  display: grid;
  place-items: center;
}
.form-Conteiner{
display : grid;
grid-template-rows: auto 1fr auto;
width: 20 rem;

}
.logo{
  width: 125px;
  justify-self: center;
  margin-bottom: 40 px;
padding-left: 0;
  display: none;
}
.title{
  font-size: var (--large);
  margin-bottom: 12px;
  text-align: center;
  font-family:Arial, Helvetica, sans-serif;
}
.subtitle{
margin-top: 0;
text-align: center;
color: #C19A6B;
font-weight: bold;
margin-bottom: 32px;  
}
.label{
font-size: var(--small);
margin-bottom: 4px;
color: #4B4B4B;
font-weight: bold;
}

.input-Container{
  border: none;
  display: grid;
  grid-template-columns: auto;
  align-items: center;
}
.primary-button{
  background-color: var(--mostaza);
  border-radius: 8px;
  color: black;
  width: 30%;
  font-size: var(--medium);
  font-weight: bold;
  cursor: pointer;
  
}
@media (max-width:600px) {
  .logo{
    display: block;
  }
  
}